@import "include/_normalize";
@import "include/_base";


// ================================================================================================

header {
    background: #bae5fa;
    background: -moz-linear-gradient(top,  #bae5fa 0%, #ecf7fd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bae5fa), color-stop(100%,#ecf7fd));
    background: -webkit-linear-gradient(top,  #bae5fa 0%,#ecf7fd 100%);
    background: -o-linear-gradient(top,  #bae5fa 0%,#ecf7fd 100%);
    background: -ms-linear-gradient(top,  #bae5fa 0%,#ecf7fd 100%);
    background: linear-gradient(to bottom,  #bae5fa 0%,#ecf7fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bae5fa', endColorstr='#ecf7fd',GradientType=0 );
    height: 733px;
    position: relative;

    @media @tablet, @mobile { height: auto; }

    .clearfix();

    .volta-as-aulas {
        position: absolute;
        width: 510px;
        height: 470px;
        right: -55px;
        top: 110px;
        z-index: 40;
        @media @tablet, @mobile {
            width: 45%;
            height: auto;
            right: -2%;
            top: 18%;
        }
        @media @mobile {
            top: 24%;
            right: -4%;
        }
    }

    .jandaia {
        position: absolute;
        width: 92px;
        height: 44px;
        right: 0px;
        top: 32px;
        @media @mobile {
            width: 15%;
            height: auto;
            text-align: right;
            top: 10%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .header-slider {
        position: absolute;
        width: 631px;
        height: 546px;
        top: 0;
        left: -125px;

        @media @tablet, @mobile {
            position: relative;
            float: left;
            width: 60%;
            height: auto;
            left: -5%;
            margin-bottom: 80px;
        }

        @media @mobile {
            width: 66%;
            margin-bottom: 50px;
        }

        img { width: 100%; height: auto; }

        .slider-bg { z-index: 10; }

        .cycle-slideshow {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
        }
    }

    .slider-thumbs {
        position: absolute;
        width: 65px;
        height: 310px;
        left: 425px;
        top: 260px;
        z-index: 40;
        @media @mobile, @tablet { display: none; }
        a {
            display: block;
            position: absolute;
            text-decoration: none;
            transition: background .3s ease;
            &:after {
                content: '';
                display: block;
                position: absolute;
                opacity: 0;
                z-index: -10;
                transition: opacity .3s ease;
            }
        }

        .slider-thumb1 {
            right: 0;
            width: 42px;
            height: 40px;
            background: url('../img/slide1-thumb-off.png');
            &:after {
                width: 42px;
                height: 40px;
                background: url('../img/slide1-thumb-hover.png');
            }
            &:hover:after {
                opacity: 1;
                z-index: 50;
            }
            &.cycle-pager-active {
                background: url('../img/slide1-thumb-on.png');
            }
        }

        .slider-thumb2 {
            right: 0;
            top: 47px;
            width: 47px;
            height: 44px;
            background: url('../img/slide2-thumb-off.png');
            &:after {
                width: 47px;
                height: 44px;
                background: url('../img/slide2-thumb-hover.png');
            }
            &:hover:after {
                opacity: 1;
                z-index: 50;
            }
            &.cycle-pager-active {
                background: url('../img/slide2-thumb-on.png');
            }
        }

        .slider-thumb3 {
            right: 6px;
            top: 100px;
            width: 38px;
            height: 50px;
            background: url('../img/slide3-thumb-off.png');
            &:after {
                width: 38px;
                height: 50px;
                background: url('../img/slide3-thumb-hover.png');
            }
            &:hover:after {
                opacity: 1;
                z-index: 50;
            }
            &.cycle-pager-active {
                background: url('../img/slide3-thumb-on.png');
            }
        }

        .slider-thumb4 {
            right: 7px;
            top: 160px;
            width: 38px;
            height: 39px;
            background: url('../img/slide4-thumb-off.png');
            &:after {
                width: 38px;
                height: 39px;
                background: url('../img/slide4-thumb-hover.png');
            }
            &:hover:after {
                opacity: 1;
                z-index: 50;
            }
            &.cycle-pager-active {
                background: url('../img/slide4-thumb-on.png');
            }
        }

        .slider-thumb5 {
            right: 7px;
            top: 208px;
            width: 51px;
            height: 40px;
            background: url('../img/slide5-thumb-off.png');
            &:after {
                width: 51px;
                height: 40px;
                background: url('../img/slide5-thumb-hover.png');
            }
            &:hover:after {
                opacity: 1;
                z-index: 50;
            }
            &.cycle-pager-active {
                background: url('../img/slide5-thumb-on.png');
            }
        }

        .slider-thumb6 {
            right: 9px;
            top: 258px;
            width: 42px;
            height: 41px;
            background: url('../img/slide6-thumb-off.png');
            &:after {
                width: 42px;
                height: 41px;
                background: url('../img/slide6-thumb-hover.png');
            }
            &:hover:after {
                opacity: 1;
                z-index: 50;
            }
            &.cycle-pager-active {
                background: url('../img/slide6-thumb-on.png');
            }
        }
    }

    .grama {
        position: absolute;
        width: 100%;
        height: 250px;
        bottom: 0;
        background: url('../img/pattern-grama.png') center repeat-x;
        z-index: 30;

        @media @tablet {
            height: 130px;
            background-size: auto 130px;
        }

        @media @mobile {
            height: 70px;
            background-size: auto 70px;
        }
    }
}


// ================================================================================================

.diferenciais {
    position: relative;
    background: url('../img/diferenciais-pattern.png') repeat #664d3b;
    margin-top: -90px;
    min-height: 500px;
    padding: 110px 0 160px;
    z-index: 20;
    text-align: center;

    @media @tablet {
        margin-top: -40px;
        padding: 90px 0 120px;
    }

    @media @mobile {
        margin-top: -20px;
        padding: 50px 0 100px;
    }

    h2 {
        float: left;
        width: 530px;
        .roboto(56px);
        color: #f3dc00;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: .7;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
        span {
            .roboto(28px, 300);
            color: #fff;
            display: block;
            margin-top: 20px;
            width: 100%;
        }

        @media @tablet, @mobile {
            width: 100%;
        }

        @media @mobile {
            font-size: 24px;
            span {
                font-size: 20px;
                margin-top: 10px;
                line-height: 1.1;
            }
        }
    }

    .detalhe1 {
        float: right;

        @media @tablet {
            float: none;
            width: 260px;
            height: auto;
            margin: 35px 0 0;
        }

        @media @mobile {
            float: none;
            width: 60%;
            height: auto;
            margin: 30px 0 0;
        }
    }

    .diferenciais-detalhes {
        list-style-type: none;
        padding: 30px 0;
        clear: both;
        li {
            display: inline-block;
            text-align: center;
            margin-left: -25px;
            a {
                display: block;
                text-decoration: none;
                span {
                    display: block;
                    .roboto(18px, 300);
                    color: #fff;
                    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
                    @media @tablet, @mobile {
                        .roboto(19px, 400);
                    }
                }
            }
        }

        @media @tablet {
            li {
                width: 45%;
                margin: 0 0 40px 0;
                a img {
                    width: 70%;
                    height: auto;
                    min-width: 270px;
                }
            }
        }

        @media @mobile {
            li {
                width: 100%;
                margin: 0 0 30px 0;
                a img {
                    width: 100%;
                    height: auto;
                    max-width: 300px;
                }
            }
        }
    }

    .fundo {
        width: 100%;
        height: 140px;
        position: absolute;
        bottom: 0;
        background: url('../img/diferenciais-fundo.png') center repeat-x;
        z-index: 30;
        text-align: center;
        img {
            margin-top: 35px;
        }
    }
}


// ================================================================================================

.onde-encontrar {
    width: 100%;
    text-align: center;
    background: #a2cf6d;
    padding: 50px 0;
    a {
        display: inline-block;
        background: #007cc3;
        padding: 30px 40px;
        border-radius: 4px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        .roboto(28px, 400);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        border-bottom: 6px solid darken(#007cc3, 10%);
        transition: background .3s ease;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        &:hover {
            background: darken(#007cc3, 3%);
            border-width: 2px;
            margin-top: 4px;
        }
    }

    @media @mobile {
        padding: 8% 0;
        a {
            font-size: 22px;
            width: 85%;
        }
    }

    @media @tablet {
        padding: 6% 0;
        a {
            font-size: 24px;
            width: 65%;
        }
    }
}


// ================================================================================================

.outros-produtos {
    padding: 50px 0;

    @media @tablet { padding: 35px 0; }
    @media @mobile { padding: 25px 0 ; }

    h3 {
        .roboto(28px, 300);
        color: #a0a09b;
        text-align: center;
        margin: 0;
        @media @mobile { font-size: 22px; }
    }

    .cycle-slideshow {
        margin-top: 40px;

        @media @tablet { margin-top: 30px; }
        @media @mobile { margin-top: 20px; }

        a {
            margin: 0 20px;
            img { height: 100%; width: auto; }

            @media @tablet {
                height: 130px;
                width: auto;
            }

            @media @mobile {
                height: 100px;
                width: auto;
            }
        }
    }
}


// ================================================================================================

.fancybox-close {
    width: 21px !important;
    height: 23px !important;
    right: 0 !important;
    top: -30px !important;
    background: url('../img/lightbox-fechar.png') no-repeat center !important;
    text-decoration: none !important;
    &:before {
        content: 'Voltar';
        display: block;
        position: absolute;
        .roboto(16px, 700);
        color: #418ba5;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .3s ease;
        right: 29px;
        top: 1px;
    }
    &:hover:before {
        color: #074f68;
    }
}

.fancybox-skin {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35) !important;
}

.fancybox-title {
    text-align: center;
    margin-top: 15px !important;
    a {
        .roboto(18px, 700);
        color: #418ba5;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .3s ease;
        &:hover {
            color: #074f68;
        }
    }
}

.fancybox-overlay {
    background : url('../img/lightbox-pattern.png') repeat #7dd0ef !important;
    @media @tablet {
        background-size: 200px !important;
    }
    @media @mobile {
        background-size: 140px !important;
    }
}


// ================================================================================================

footer {
    background: #007cc3;
    padding-top: 40px;

    .colecao {
        float: left;
        width: 470px;
        text-decoration: none;
        color: #1a5da6;
        transition: color .3s ease;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        .roboto(32px, bold);
        &:hover { color: #a2cf6d; }
        p {
            padding: 0;
            margin: 0 0 15px;
        }

        @media @tablet, @mobile {
            width: 100%;
        }

        @media @mobile {
            font-size: 24px;
            br { display: none; }
            img {
                max-width: 470px;
                width: 100%;
                height: auto;
            }
        }
    }

    .facebook {
        background: #fff;
        float: right;
        width: 405px;
        height: 265px;
        border: 1px solid #024974;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);

        @media @tablet, @mobile {
            width: 60%;
            float: none;
            clear: both;
            margin: 0 auto 40px;
            .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
                width: 99.5% !important;
            }
        }

        @media @mobile { width: 80%; }
    }

    .copyright-rovio {
        clear: both;
        margin-bottom: 50px;
        .roboto(11px);
        text-align: center;
        color: #0e3d68;
        img {
            padding-left: 12px;

            @media @tablet, @mobile {
                display: block;
                margin: 15px auto 0;
            }
        }
    }

    .copyright-jandaia {
        position: relative;
        border-top: 4px solid #a2cf6d;
        background: #fff;
        .roboto(11px);
        text-align: center;
        color: #787878;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            background: #fff;
            top: -8px;
        }
    }
}