// Fonts

@font-face {
    font-family: 'GothamBook';
    src: url('fonts/Gotham-Book.eot');
    src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-Book.woff') format('woff'),
         url('fonts/Gotham-Book.svg#GothamBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamBold';
    src: url('fonts/Gotham-Bold.eot');
    src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-Bold.woff') format('woff'),
         url('fonts/Gotham-Bold.svg#GothamBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.gotham(@size: 12px) {
    font-family: 'GothamBook', 'Helvetica', 'Arial', sans-serif;
    font-size: @size;
    font-weight: normal;
}

.gotham_b(@size: 12px) {
    font-family: 'GothamBold', 'Helvetica', 'Arial', sans-serif;
    font-size: @size;
    font-weight: bold;
}


// Mixins

.clearfix() {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}


// Media Queries

@mobile: ~"only screen and (max-width: 649px)";
@tablet: ~"only screen and (min-width: 650px) and (max-width: 1040px)";


// Global

.centro {
    width: 960px;
    margin: 0 auto;
    position: relative;
    .clearfix();
    @media @tablet, @mobile {
        width: 90%;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    .gotham(12px);
}

::selection {
    background: #000;
    color: #fff;
}