@import "_normalize";
@import "_vars";


/**
 -----------------------------------------------------------------------------------
 HEADER
 -----------------------------------------------------------------------------------
 */

header {
    position: relative;
    height: 770px;
    width: 100%;
    overflow-y: hidden;
    @media @mobile, @tablet { height: auto; }

    .jandaia {
        position: absolute;
        width: 258px;
        height: 37px;
        right: 0;
        top: 40px;
        z-index: 200;

        .social {
            float: left;
            list-style-type: none;
            padding: 0;
            margin: 3px 0 0;
            li { display: block; float: left; }
            li a {
                display: block;
                text-indent: -9999px;
                width: 21px;
                height: 21px;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 11px;
                &.twitter { background-image: url('../img/social-twitter.png'); }
                &.instagram { background-image: url('../img/social-instagram.png'); }
                &.gplus { background-image: url('../img/social-gplus.png'); }
                &.facebook { background-image: url('../img/social-facebook.png'); }
                &.youtube { background-image: url('../img/social-youtube.png'); }
            }
            @media @mobile { display: none; }
        }

        @media @mobile {
            top: 10%;
            width: 20%;
        }

        .jandaia-logo {
            display: block;
            width: 80px;
            height: 37px;
            float: right;
            @media @mobile {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    max-width: 80px;
                    height: auto;
                }
            }
        }
    }

    .volta-as-aulas {
        position: absolute;
        z-index: 200;
        right: 0;
        top: 170px;
        @media @tablet, @mobile {
            position: relative;
            top: 0;
            width: 50%;
            height: auto;
            float: right;
            margin: 20% 0 32%;
        }
        @media @mobile {
            width: 50%;
            margin-top: 25%;
        }
    }

    .header-slider {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        div.slider-wrapper {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            img {
                width: 508px;
                height: 505px;
                position: absolute;
                left: -250px;
                top: 70px;
                transition: left .8s ease;
                &.anima-caderno {
                    left: -70px;
                }
                @media @tablet, @mobile {
                    position: relative;
                    width: 55%;
                    height: auto;
                    top: 0;
                    margin-top: 8%;
                    &.anima-caderno {
                        left: -5%;
                    }
                }
            }
        }
    }

    .header-slider-pager {
        display: block;
        position: absolute;
        top: 430px;
        left: 435px;
        z-index: 200;
        a {
            display: block;
            width: 10px;
            height: 10px;
            background: #fff;
            border-radius: 10px;
            transition: background .3s ease;
            margin-top: 10px;
            &:first-child { margin-top: 0; }
            &.cycle-pager-active, &:hover { background: #000; }
        }
        @media @mobile, @tablet { display: none; }
    }

    .onda {
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 0;
        z-index: 199;
    }
}



/**
 -----------------------------------------------------------------------------------
 DIFERENCIAIS
 -----------------------------------------------------------------------------------
 */

.diferenciais {
    background: #e61d2b;
    position: relative;
    .centro {
        padding: 60px 0 50px;
        @media @mobile {
            padding: 30px 0 20px;
        }
        @media @tablet {
            padding: 50px 0 40px;
        }
    }

    h2 {
        color: #fff;
        .gotham_b(60px);
        margin: 0 0 40px;
        padding: 0;
        span {
            display: block;
            color: #000;
            .gotham(31px);
        }

        @media @tablet {
            text-align: center;
            font-size: 45px;
            span {
                font-size: 23px;
            }
        }

        @media @mobile {
            text-align: center;
            font-size: 21px;
            span {
                font-size: 18px;
                margin-top: 3px;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0 190px 0 0;
        .clearfix();

        @media @tablet, @mobile { padding: 0; margin: 0 auto; }

        li {
            list-style-type: none;
            text-align: center;
            padding: 0;
            margin-right: 40px;
            float: left;
            margin-bottom: 21px;
            &:first-child {margin-bottom: 0; }

            span {
                display: block;
                text-align: center;
                color: #fff;
                .gotham(13px);
                margin-top: 10px;
            }

            @media @tablet {
                &:first-child {
                    width: 45%;
                    img { max-width: 349px; }
                }
                width: 21%;
                margin-right: 3%;
                &.nomargin { margin-right: 0; }
                img {
                    width: 100%;
                    max-width: 150px;
                    height: auto;
                }
            }
            @media @mobile {
                width: 100%;
                margin-bottom: 30px !important;
                span { font-size: 14px; }
                img {
                    width: 60%;
                    max-width: 250px;
                    height: auto;
                }
            }
        }
    }

    .detalhe {
        width: 166px;
        height: 596px;
        position: absolute;
        top: 0;
        right: 0;

        @media @tablet, @mobile { display: none; }
    }
}



/**
 -----------------------------------------------------------------------------------
 OUTROS PRODUTOS
 -----------------------------------------------------------------------------------
 */

.outros-produtos {
    text-align: center;
    padding: 40px 0 40px;
    @media @mobile { padding: 30px 0 30px; }
    h3 {
        color: #000;
        .gotham_b(48px);
        padding: 0;
        margin: 0 0 50px;
        @media @tablet {
            font-size: 30px;
            margin: 0 0 35px;
        }
        @media @mobile {
            font-size: 24px;
            margin: 0 0 30px;
        }
    }
    img {
        margin: 0 30px;
        @media @tablet {
            height: 200px;
            width: auto;
            margin: 0 20px;
        }
        @media @mobile {
            height: 175px;
            width: auto;
            margin: 0 15px;
        }
    }
}



/**
 -----------------------------------------------------------------------------------
 FOOTER
 -----------------------------------------------------------------------------------
 */

footer {
    background: #000;
    padding: 40px 0 20px;
    @media @tablet, @mobile { text-align: center; }

    a {
        text-decoration: none;

        &.chamada-jandaia {
            float: left;
            .gotham_b(52px);
            color: #e61d2b;
            margin-bottom: 80px;
            span {
                .gotham(41px);
                color: #fff;
                display: block;
            }
            @media @tablet {
                float: none;
                font-size: 38px;
                span { font-size: 29px; }
            }
            @media @mobile {
                display: block;
                float: none;
                font-size: 28px;
                margin-bottom: 0;
                span {
                    font-size: 24px;
                    display: inline;
                }
            }
        }

        &.jandaia-footer {
            display: block;
            width: 150px;
            height: 69px;
            float: right;
            margin-top: 29px;
            img { max-width: 130px; }

            @media @tablet {
                display: inline-block;
                float: none;
                margin-right: 40px;
                margin-top: 60px;
            }

            @media @mobile {
                display: inline-block;
                float: none;
                margin-right: 5%;
                margin-top: 45px;
                width: 20%;
                max-width: 100px;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &.cocacola-footer {
            display: block;
            width: 205px;
            height: 67px;
            clear: both;
            margin: 0 auto;

            @media @tablet {
                display: inline-block;
                margin: 0;
            }

            @media @mobile {
                display: inline-block;
                margin: 0;
                width: 35%;
                max-width: 205px;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .copyright {
        .gotham(9px);
        color: #fff;
        text-align: center;
        padding: 0;
        margin: 50px 0 0;
        @media @tablet { margin: 50px 10%; }
    }
}



/**
 -----------------------------------------------------------------------------------
 LIGHTBOX
 -----------------------------------------------------------------------------------
 */

fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object{padding:0;margin:0;border:0;outline:0;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.fancybox-opened{z-index:8030}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,.5);box-shadow:0 10px 25px rgba(0,0,0,.5)}.fancybox-inner,.fancybox-outer{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}.fancybox-iframe,.fancybox-image{display:block;width:100%;height:100%}.fancybox-image{max-width:100%;max-height:100%}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}#fancybox-loading div{width:44px;height:44px;background:url(../img/fancybox_loading.gif) center center no-repeat}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:url(blank.gif);-webkit-tap-highlight-color:transparent;z-index:8040}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}.fancybox-prev span{left:10px;background-position:0 -36px}.fancybox-next span{right:10px;background-position:0 -72px}.fancybox-nav:hover span{visibility:visible}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important}.fancybox-lock{overflow:hidden!important;width:auto}.fancybox-lock body{overflow:hiddden!important}.fancybox-lock-test{overflow-y:hidden!important}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}.fancybox-title{visibility:hidden;font:400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:0 0;background:rgba(0,0,0,.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}

.fancybox-close {
    width: 100% !important;
    height: 23px !important;
    right: 0 !important;
    top: -30px !important;
    text-decoration: none !important;
    &:before {
        content: 'Voltar';
        display: block;
        position: absolute;
        .gotham_b(13px);
        color: #841118;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .3s ease;
        right: 0;
        top: 1px;
    }
    &:hover:before {
        color: #ffffff;
    }
}

.fancybox-skin {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35) !important;
}

.fancybox-title {
    text-align: center;
    margin-top: 15px !important;
    a {
        .gotham_b(14px);
        color: #841118;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .3s ease;
        &:hover {
            color: #ffffff;
        }
    }
}

.fancybox-overlay {
    background: #e61d2b;
}

#fancybox-loading div {
    width: 32px !important;
    height: 32px !important;
}

.onde-encontrar {
    width: 100%;
    text-align: center;
    background: #a2cf6d;
    padding: 50px 0;
    a {
        display: inline-block;
        background: #007cc3;
        padding: 30px 40px;
        border-radius: 4px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        line-height: 1.5;
        .gotham(24px);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        border-bottom: 6px solid darken(#007cc3, 10%);
        transition: background .3s ease;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        &:hover {
            background: darken(#007cc3, 3%);
            border-width: 2px;
            margin-top: 4px;
        }
    }

    @media @mobile {
        padding: 8% 0;
        a {
            font-size: 20px;
            width: 85%;
        }
    }

    @media @tablet {
        padding: 6% 0;
        a {
            font-size: 22px;
            width: 65%;
        }
    }
}
