// Fonts

@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
.roboto(@size: 12px, @weight: normal) {
    font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
    font-size: @size;
    font-weight: @weight;
}


// Mixins

.clearfix() {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}


// Media Queries

@mobile: ~"only screen and (max-width: 649px)";
@tablet: ~"only screen and (min-width: 650px) and (max-width: 1107px)";


// Global

.centro {
    width: 980px;
    margin: 0 auto;
    position: relative;
    .clearfix();
    @media @tablet, @mobile {
        width: 90%;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    .roboto(12px);
}

::selection {
    background: #f3dc00;
    color: #000;
}