<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Volta às aulas com Angry Birds - Jandaia</title>
    <meta name="description" content="Volta às aulas com Angry Birds - Jandaia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.min.css">
    <link rel="stylesheet" href="assets/css/fancybox.min.css">
</head>
<body>
    <header>
        <div class="centro">
            <a href="http://cadernosjandaia.com.br/" target="_blank" class="jandaia">
                <img src="assets/img/jandaia.png" alt="Jandaia - Fala com você">
            </a>
            <img src="assets/img/volta-as-aulas.png" class="volta-as-aulas" alt="Volta às aulas com Angry Birds!">
            <div class="header-slider">
                <img src="assets/img/bg-explosao.png" class="slider-bg" alt="">
                <div class="cycle-slideshow" data-cycle-pager=".slider-thumbs" data-cycle-pager-template="<a href=# class=slider-thumb{{slideNum}}></a>">
                    <img src="assets/img/slide1.png" alt="">
                    <img src="assets/img/slide2.png" alt="">
                    <img src="assets/img/slide3.png" alt="">
                    <img src="assets/img/slide4.png" alt="">
                    <img src="assets/img/slide5.png" alt="">
                    <img src="assets/img/slide6.png" alt="">
                </div>
            </div>
            <nav class="slider-thumbs"></nav>
        </div>
        <div class="grama"></div>
    </header>

    <section class="diferenciais">
        <div class="centro">
            <h2>Conheça os diferenciais <span>dos cadernos universitários Jandaia Angry Birds</span></h2>
            <img src="assets/img/diferenciais-detalhe1.png" class="detalhe1" alt="">
            <ul class="diferenciais-detalhes">
                <li>
                    <a>
                        <img src="assets/img/diferenciais1.png" alt="">
                        <span>Laminação brilho</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="assets/img/diferenciais2.png" alt="">
                        <span>Espiral revestido</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="assets/img/diferenciais3.png" alt="">
                        <span>Bolsa em papel</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="assets/img/diferenciais4.png" alt="">
                        <span>Miolo decorado</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="fundo">
            <img src="assets/img/diferenciais-detalhe2.png" alt="">
        </div>
    </section>

    <section class="outros-produtos">
        <div class="centro">
            <h3>Outros produtos Jandaia Angry Birds</h3>
        </div>
        <div class="cycle-slideshow carousel" data-cycle-fx="carousel" data-cycle-timeout="1000" data-cycle-pause-on-hover="true" data-cycle-slides=">a">
            <a href="assets/img/outros/gde/1.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/36-angry-birds/126-caderno-universitario-angry-birds">
                <img src="assets/img/outros/1.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/2.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/36-angry-birds/127-caderno-universitario-angry-birds">
                <img src="assets/img/outros/2.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/3.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/36-angry-birds/128-caderno-universitario-angry-birds">
                <img src="assets/img/outros/3.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/4.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/36-angry-birds/129-caderno-universitario-angry-birds">
                <img src="assets/img/outros/4.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/5.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/94-angry-birds-girls/930-caderno-universitario-angry-birds-girls">
                <img src="assets/img/outros/5.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/6.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/94-angry-birds-girls/931-caderno-universitario-angry-birds-girls">
                <img src="assets/img/outros/6.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/7.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/94-angry-birds-girls/932-caderno-universitario-angry-birds-girls">
                <img src="assets/img/outros/7.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/8.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/94-angry-birds-girls/934-caderno-universitario-angry-birds-girls">
                <img src="assets/img/outros/8.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/9.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/36-angry-birds/138-caderno-brochura-angry-birds">
                <img src="assets/img/outros/9.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/10.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/36-angry-birds/139-caderno-brochura-angry-birds">
                <img src="assets/img/outros/10.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/11.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/36-angry-birds/140-caderno-brochura-angry-birds">
                <img src="assets/img/outros/11.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/12.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/36-angry-birds/141-caderno-brochura-angry-birds">
                <img src="assets/img/outros/12.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/13.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/96-angry-birds-go/938-caderno-brochura-angry-birds-go">
                <img src="assets/img/outros/13.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/14.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/96-angry-birds-go/939-caderno-brochura-angry-birds-go">
                <img src="assets/img/outros/14.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/15.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/96-angry-birds-go/940-caderno-brochura-angry-birds-go">
                <img src="assets/img/outros/15.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/16.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/96-angry-birds-go/941-caderno-brochura-angry-birds-go">
                <img src="assets/img/outros/16.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/17.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/36-angry-birds/254-caderno-cartografia-angry-birds">
                <img src="assets/img/outros/17.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/18.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/96-angry-birds-go/943-caderno-cartografia-angry-birds-go">
                <img src="assets/img/outros/18.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/19.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/36-angry-birds/269-caderno-caligrafia-angry-birds">
                <img src="assets/img/outros/19.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/20.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/36-angry-birds/273-caderno-de-desenho-angry-birds">
                <img src="assets/img/outros/20.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/21.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/cadernos/36-angry-birds/276-caderno-linguagem-angry-birds">
                <img src="assets/img/outros/21.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/22.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/agendas/36-angry-birds/591-agenda-diaria-angry-birds">
                <img src="assets/img/outros/22.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/23.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/agendas/36-angry-birds/592-agenda-diaria-angry-birds">
                <img src="assets/img/outros/23.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/24.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/agendas/36-angry-birds/593-agenda-diaria-angry-birds">
                <img src="assets/img/outros/24.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/25.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/agendas/36-angry-birds/594-agenda-diaria-angry-birds">
                <img src="assets/img/outros/25.jpg" alt="">
            </a>
            <a href="assets/img/outros/gde/26.jpg" class="lightbox" data-link="http://cadernosjandaia.com.br/produtos/gifts/36-angry-birds/1097-caderneta-angry-birds-lombada-quadrada-tam-p">
                <img src="assets/img/outros/26.jpg" alt="">
            </a>
        </div>
    </section>

    <footer>
        <div class="centro">
            <a href="http://cadernosjandaia.com.br/produtos/" target="_blank" class="colecao">
                <p>Conheça a coleção completa <br>de produtos Jandaia</p>
                <img src="assets/img/footer-cadernos.png" alt="">
            </a>
            <div class="facebook">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-like-box" data-href="https://www.facebook.com/cadernosjandaia" data-width="400" data-height="260" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
            </div>
            <p class="copyright-rovio">
                © 2009 - 2015 Rovio Entertainment Ltd. Robio, Angry Birds, Bad Piggies, Mighty Eagle and all related properties, titles, logos and characters are trademarks of Rovio Entertainment Ltd. All Rights Reserved.
                <img src="assets/img/rovio.png" alt="">
            </p>
        </div>
        <div class="copyright-jandaia">
            <div class="centro">
                <p>© 2014 Jandaia - Todos os direitos reservados.</p>
            </div>
        </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>
    <script src="assets/js/cycle2.min.js"></script>
    <script src="assets/js/cycle2.carousel.min.js"></script>
    <script src="assets/js/fancybox.min.js"></script>
    <script src="assets/js/main.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3325882-23', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>