// Fonts

@font-face {
    font-family: 'MetaPlusRoman';
    src: url('fonts/metaplus-roman-webfont.eot');
    src: url('fonts/metaplus-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/metaplus-roman-webfont.woff2') format('woff2'),
         url('fonts/metaplus-roman-webfont.woff') format('woff'),
         url('fonts/metaplus-roman-webfont.ttf') format('truetype'),
         url('fonts/metaplus-roman-webfont.svg#metaplusroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPlusBold';
    src: url('fonts/metaplus-bold-webfont.eot');
    src: url('fonts/metaplus-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/metaplus-bold-webfont.woff2') format('woff2'),
         url('fonts/metaplus-bold-webfont.woff') format('woff'),
         url('fonts/metaplus-bold-webfont.ttf') format('truetype'),
         url('fonts/metaplus-bold-webfont.svg#metaplusbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.meta(@size: 12px) {
    font-family: 'MetaPlusRoman', 'Helvetica', 'Arial', sans-serif;
    font-size: @size;
    font-weight: normal;
}

.meta_b(@size: 12px) {
    font-family: 'MetaPlusBold', 'Helvetica', 'Arial', sans-serif;
    font-size: @size;
    font-weight: bold;
}


// Mixins

.clearfix() {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}


// Media Queries

@mobile: ~"only screen and (max-width: 649px)";
@tablet: ~"only screen and (min-width: 650px) and (max-width: 1179px)";


// Global

.centro {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    .clearfix();
    @media @tablet, @mobile {
        width: 90%;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    .meta(12px);
}

::selection {
    background: #34b7d0;
    color: #fff;
}