@import "_normalize";
@import "_vars";


/**
 -----------------------------------------------------------------------------------
 HEADER
 -----------------------------------------------------------------------------------
 */

header {
    position: relative;
    width: 100%;
    height: auto;
    overflow-y: hidden;

    .social {
        position: absolute;
        left: 0;
        top: 60px;
        z-index: 200;

        @media @tablet {
            top: 8%;
        }
        @media @mobile { display: none; }
    }

    .volta-as-aulas {
        position: relative;
        float: right;
        z-index: 200;

        @media @mobile, @tablet {
            width: 50%;
            height: auto;
        }
    }

    .header-slider {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        div {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: none;
        }
    }
}

.social {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 156px;
    height: 21px;
    li { display: block; float: left; }
    li a {
        display: block;
        text-indent: -9999px;
        width: 21px;
        height: 21px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
        &.twitter { background-image: url('../img/social-twitter.png'); }
        &.instagram { background-image: url('../img/social-instagram.png'); }
        &.gplus { background-image: url('../img/social-gplus.png'); }
        &.facebook { background-image: url('../img/social-facebook.png'); }
        &.youtube { background-image: url('../img/social-youtube.png'); }
    }
    &.footer li a {
        &.twitter { background-image: url('../img/social-twitter-footer.png'); }
        &.instagram { background-image: url('../img/social-instagram-footer.png'); }
        &.gplus { background-image: url('../img/social-gplus-footer.png'); }
        &.facebook { background-image: url('../img/social-facebook-footer.png'); }
        &.youtube { background-image: url('../img/social-youtube-footer.png'); }
    }
}



/**
 -----------------------------------------------------------------------------------
 DIFERENCIAIS
 -----------------------------------------------------------------------------------
 */

.diferenciais {
    width: 100%;
    height: auto;
    background: url('../img/diferenciais-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 40px 0 40px;

    @media @tablet { padding: 40px 5% 10px; }
    @media @mobile { padding: 0 0 32px; }

    h2 {
        float: left;
        .meta_b(82px);
        color: #2d59a8;
        padding: 0;
        margin: 20px 0 0;
        text-align: center;

        span {
            display: block;
            .meta(46px);
            color: #34b7d0;
            margin-top: -10px;
        }

        @media @tablet { float: none; }

        @media only screen and (min-width: 865px) and (max-width: 1179px) {
            font-size: 67px;
            margin: 0;
            span {
                font-size: 38px;
                margin: 0;
            }
        }

        @media only screen and (min-width: 650px) and (max-width: 864px) {
            font-size: 50px;
            margin: 0;
            span {
                font-size: 28px;
                margin: 0;
            }
        }

        @media @mobile {
            float: none;
            font-size: 24px;
            span {
                font-size: 20px;
                margin: 0;
            }
        }
    }

    .olaf {
        float: right;

        @media @tablet {
            width: 30%;
            height: auto;
            margin-top: 30px;
            max-width: 214px;
        }

        @media @mobile {
            display: none;
        }
    }

    .diferenciais-detalhes {
        float: left;
        list-style-type: none;
        padding: 0;
        margin: 20px 0 0;
        li {
            display: inline-block;
            text-align: center;
            margin-right: 35px;
            &:last-child { margin: 0; }
            a {
                display: block;
                text-decoration: none;
                span {
                    display: block;
                    .meta(17px);
                    color: #20345e;
                    margin-top: 10px;
                }
            }
        }

        @media @tablet {
            float: none;
            margin-top: 30px;
            width: 60%;
            li {
                width: 40%;
                margin-right: 10%;
                margin-bottom: 10%;
                &:nth-child(2n+2) { margin-right: 0; }
                img {
                    width: 100%;
                    max-width: 180px;
                    height: auto;
                }
            }
        }

        @media @mobile {
            float: none;
            margin-top: 20px;
            width: 100%;
            li, li:last-child {
                width: 60%;
                margin: 0 20% 30px;
                img {
                    width: 100%;
                    max-width: 180px;
                    height: auto;
                }
            }
        }
    }
}



/**
 -----------------------------------------------------------------------------------
 OUTROS PRODUTOS
 -----------------------------------------------------------------------------------
 */

.outros-produtos {
    position: relative;
    padding: 50px 0 60px;
    z-index: 200;
    box-shadow: 0 0 10px rgba(0,0,0,.1);

    @media @tablet { padding: 40px 0 50px; }
    @media @mobile { padding: 30px 0 40px; }

    h3 {
        .meta_b(76px);
        color: #2d59a8;
        text-align: center;
        margin: 0;
        padding: 0;
        @media @tablet { font-size: 42px; }
        @media @mobile { font-size: 32px; }
    }

    .outros-carousel {
        margin-top: 40px;
        a {
            margin: 0 20px;
            @media @tablet { height: 190px; }
            @media @mobile { height: 140px; }
            img {
                @media @tablet, @mobile {
                    height: 100%;
                    width: auto;
                }
            }
        }

        @media @tablet { margin-top: 30px; }
        @media @mobile { margin-top: 20px; }
    }
}



/**
 -----------------------------------------------------------------------------------
 FOOTER
 -----------------------------------------------------------------------------------
 */

footer {
    width: 100%;
    height: auto;
    background: url('../img/footer-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 40px 0 15px;
    position: relative;
    z-index: 205;

    @media @mobile, @tablet { text-align: center; }
    @media @mobile {
        padding: 30px 0;
    }

    .chamada-jandaia {
        float: left;
        color: #fff;
        text-decoration: none;
        .meta_b(62px);
        margin-top: 30px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
        span {
            display: block;
            color: #34b7d0;
            .meta(48px);
            margin-top: -10px;
        }

        @media @mobile {
            float: none;
            font-size: 28px;
            margin: 0 0 30px 0;
            display: block;
            span {
                font-size: 26px;
                display: inline;
            }
        }

        @media @tablet {
            float: none;
            font-size: 46px;
            margin: 0 0 30px 0;
            display: block;
            span {
                font-size: 36px;
                margin-top: 0;
            }
        }
    }

    .detalhe-footer {
        float: right;
        @media @mobile, @tablet { display: none; }
    }

    .social {
        float: left;
        margin-top: 40px;
        @media @mobile, @tablet { display: none; }
    }

    .logos {
        float: left;
        text-align: center;
        margin: 25px 0 0 20px;
        a { margin-right: 53px; }

        @media @mobile, @tablet {
            width: 60%;
            margin: 0 20%;
            a {
                float: left;
                width: 28%;
                margin-right: 8%;
                &:last-child { margin-right: 0; }
                img {
                    width: 100%;
                    height: auto;
                }
                &.jandaia-footer img { max-width: 144px; }
                &.disney-footer img { max-width: 135px; }
                &.frozen-footer img { max-width: 154px; }
            }
        }
    }
}



/**
 -----------------------------------------------------------------------------------
 LIGHTBOX
 -----------------------------------------------------------------------------------
 */

fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object{padding:0;margin:0;border:0;outline:0;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}.fancybox-skin{position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.fancybox-opened{z-index:8030}.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,.5);box-shadow:0 10px 25px rgba(0,0,0,.5)}.fancybox-inner,.fancybox-outer{position:relative}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}.fancybox-iframe,.fancybox-image{display:block;width:100%;height:100%}.fancybox-image{max-width:100%;max-height:100%}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}#fancybox-loading div{width:44px;height:44px;background:url(../img/fancybox_loading.gif) center center no-repeat}.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:url(blank.gif);-webkit-tap-highlight-color:transparent;z-index:8040}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}.fancybox-prev span{left:10px;background-position:0 -36px}.fancybox-next span{right:10px;background-position:0 -72px}.fancybox-nav:hover span{visibility:visible}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important}.fancybox-lock{overflow:hidden!important;width:auto}.fancybox-lock body{overflow:hiddden!important}.fancybox-lock-test{overflow-y:hidden!important}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}.fancybox-title{visibility:hidden;font:400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:0 0;background:rgba(0,0,0,.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}

.fancybox-close {
    width: 100% !important;
    height: 23px !important;
    right: 0 !important;
    top: -30px !important;
    text-decoration: none !important;
    &:before {
        content: 'Voltar';
        display: block;
        position: absolute;
        .meta_b(14px);
        color: #418ba5;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .3s ease;
        right: 0;
        top: 1px;
    }
    &:hover:before {
        color: #074f68;
    }
}

.fancybox-skin {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35) !important;
}

.fancybox-title {
    text-align: center;
    margin-top: 15px !important;
    a {
        .meta_b(15px);
        color: #418ba5;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .3s ease;
        &:hover {
            color: #074f68;
        }
    }
}

.fancybox-overlay {
    background: url('../img/lightbox-pattern.png') repeat !important;
}

.onde-encontrar {
    width: 100%;
    text-align: center;
    background: #a2cf6d;
    padding: 50px 0;
    a {
        display: inline-block;
        background: #007cc3;
        padding: 30px 40px;
        border-radius: 4px;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        .meta_b(28px);
        line-height: 1.3;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        border-bottom: 6px solid darken(#007cc3, 10%);
        transition: background .3s ease;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        &:hover {
            background: darken(#007cc3, 3%);
            border-width: 2px;
            margin-top: 4px;
        }
    }

    @media @mobile {
        padding: 8% 0;
        a {
            font-size: 22px;
            width: 85%;
        }
    }

    @media @tablet {
        padding: 6% 0;
        a {
            font-size: 24px;
            width: 65%;
        }
    }
}
