@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.centro {
  width: 980px;
  margin: 0 auto;
  position: relative;
  *zoom: 1;
}
.centro:before,
.centro:after {
  content: " ";
  display: table;
}
.centro:after {
  clear: both;
}
@media only screen and (min-width: 650px) and (max-width: 1107px), only screen and (max-width: 649px) {
  .centro {
    width: 90%;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
::-moz-selection {
  background: #f3dc00;
  color: #000;
}
::selection {
  background: #f3dc00;
  color: #000;
}
header {
  background: #bae5fa;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bae5fa), color-stop(100%, #ecf7fd));
  background: -webkit-linear-gradient(top, #bae5fa 0%, #ecf7fd 100%);
  background: linear-gradient(to bottom, #bae5fa 0%, #ecf7fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bae5fa', endColorstr='#ecf7fd', GradientType=0);
  height: 733px;
  position: relative;
  *zoom: 1;
}
@media only screen and (min-width: 650px) and (max-width: 1107px), only screen and (max-width: 649px) {
  header {
    height: auto;
  }
}
header:before,
header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}
header .volta-as-aulas {
  position: absolute;
  width: 510px;
  height: 470px;
  right: -55px;
  top: 110px;
  z-index: 40;
}
@media only screen and (min-width: 650px) and (max-width: 1107px), only screen and (max-width: 649px) {
  header .volta-as-aulas {
    width: 45%;
    height: auto;
    right: -2%;
    top: 18%;
  }
}
@media only screen and (max-width: 649px) {
  header .volta-as-aulas {
    top: 24%;
    right: -4%;
  }
}
header .jandaia {
  position: absolute;
  width: 92px;
  height: 44px;
  right: 0px;
  top: 32px;
}
@media only screen and (max-width: 649px) {
  header .jandaia {
    width: 15%;
    height: auto;
    text-align: right;
    top: 10%;
  }
  header .jandaia img {
    width: 100%;
    height: auto;
  }
}
header .header-slider {
  position: absolute;
  width: 631px;
  height: 546px;
  top: 0;
  left: -125px;
}
@media only screen and (min-width: 650px) and (max-width: 1107px), only screen and (max-width: 649px) {
  header .header-slider {
    position: relative;
    float: left;
    width: 60%;
    height: auto;
    left: -5%;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 649px) {
  header .header-slider {
    width: 66%;
    margin-bottom: 50px;
  }
}
header .header-slider img {
  width: 100%;
  height: auto;
}
header .header-slider .slider-bg {
  z-index: 10;
}
header .header-slider .cycle-slideshow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
header .slider-thumbs {
  position: absolute;
  width: 65px;
  height: 310px;
  left: 425px;
  top: 260px;
  z-index: 40;
}
@media only screen and (max-width: 649px), only screen and (min-width: 650px) and (max-width: 1107px) {
  header .slider-thumbs {
    display: none;
  }
}
header .slider-thumbs a {
  display: block;
  position: absolute;
  text-decoration: none;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
}
header .slider-thumbs a:after {
  content: '';
  display: block;
  position: absolute;
  opacity: 0;
  z-index: -10;
  -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
}
header .slider-thumbs .slider-thumb1 {
  right: 0;
  width: 42px;
  height: 40px;
  background: url('../img/slide1-thumb-off.png');
}
header .slider-thumbs .slider-thumb1:after {
  width: 42px;
  height: 40px;
  background: url('../img/slide1-thumb-hover.png');
}
header .slider-thumbs .slider-thumb1:hover:after {
  opacity: 1;
  z-index: 50;
}
header .slider-thumbs .slider-thumb1.cycle-pager-active {
  background: url('../img/slide1-thumb-on.png');
}
header .slider-thumbs .slider-thumb2 {
  right: 0;
  top: 47px;
  width: 47px;
  height: 44px;
  background: url('../img/slide2-thumb-off.png');
}
header .slider-thumbs .slider-thumb2:after {
  width: 47px;
  height: 44px;
  background: url('../img/slide2-thumb-hover.png');
}
header .slider-thumbs .slider-thumb2:hover:after {
  opacity: 1;
  z-index: 50;
}
header .slider-thumbs .slider-thumb2.cycle-pager-active {
  background: url('../img/slide2-thumb-on.png');
}
header .slider-thumbs .slider-thumb3 {
  right: 6px;
  top: 100px;
  width: 38px;
  height: 50px;
  background: url('../img/slide3-thumb-off.png');
}
header .slider-thumbs .slider-thumb3:after {
  width: 38px;
  height: 50px;
  background: url('../img/slide3-thumb-hover.png');
}
header .slider-thumbs .slider-thumb3:hover:after {
  opacity: 1;
  z-index: 50;
}
header .slider-thumbs .slider-thumb3.cycle-pager-active {
  background: url('../img/slide3-thumb-on.png');
}
header .slider-thumbs .slider-thumb4 {
  right: 7px;
  top: 160px;
  width: 38px;
  height: 39px;
  background: url('../img/slide4-thumb-off.png');
}
header .slider-thumbs .slider-thumb4:after {
  width: 38px;
  height: 39px;
  background: url('../img/slide4-thumb-hover.png');
}
header .slider-thumbs .slider-thumb4:hover:after {
  opacity: 1;
  z-index: 50;
}
header .slider-thumbs .slider-thumb4.cycle-pager-active {
  background: url('../img/slide4-thumb-on.png');
}
header .slider-thumbs .slider-thumb5 {
  right: 7px;
  top: 208px;
  width: 51px;
  height: 40px;
  background: url('../img/slide5-thumb-off.png');
}
header .slider-thumbs .slider-thumb5:after {
  width: 51px;
  height: 40px;
  background: url('../img/slide5-thumb-hover.png');
}
header .slider-thumbs .slider-thumb5:hover:after {
  opacity: 1;
  z-index: 50;
}
header .slider-thumbs .slider-thumb5.cycle-pager-active {
  background: url('../img/slide5-thumb-on.png');
}
header .slider-thumbs .slider-thumb6 {
  right: 9px;
  top: 258px;
  width: 42px;
  height: 41px;
  background: url('../img/slide6-thumb-off.png');
}
header .slider-thumbs .slider-thumb6:after {
  width: 42px;
  height: 41px;
  background: url('../img/slide6-thumb-hover.png');
}
header .slider-thumbs .slider-thumb6:hover:after {
  opacity: 1;
  z-index: 50;
}
header .slider-thumbs .slider-thumb6.cycle-pager-active {
  background: url('../img/slide6-thumb-on.png');
}
header .grama {
  position: absolute;
  width: 100%;
  height: 250px;
  bottom: 0;
  background: url('../img/pattern-grama.png') center repeat-x;
  z-index: 30;
}
@media only screen and (min-width: 650px) and (max-width: 1107px) {
  header .grama {
    height: 130px;
    background-size: auto 130px;
  }
}
@media only screen and (max-width: 649px) {
  header .grama {
    height: 70px;
    background-size: auto 70px;
  }
}
.diferenciais {
  position: relative;
  background: url('../img/diferenciais-pattern.png') repeat #664d3b;
  margin-top: -90px;
  min-height: 500px;
  padding: 110px 0 160px;
  z-index: 20;
  text-align: center;
}
@media only screen and (min-width: 650px) and (max-width: 1107px) {
  .diferenciais {
    margin-top: -40px;
    padding: 90px 0 120px;
  }
}
@media only screen and (max-width: 649px) {
  .diferenciais {
    margin-top: -20px;
    padding: 50px 0 100px;
  }
}
.diferenciais h2 {
  float: left;
  width: 530px;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-size: 56px;
  font-weight: normal;
  color: #f3dc00;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: .7;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
}
.diferenciais h2 span {
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  display: block;
  margin-top: 20px;
  width: 100%;
}
@media only screen and (min-width: 650px) and (max-width: 1107px), only screen and (max-width: 649px) {
  .diferenciais h2 {
    width: 100%;
  }
}
@media only screen and (max-width: 649px) {
  .diferenciais h2 {
    font-size: 24px;
  }
  .diferenciais h2 span {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.1;
  }
}
.diferenciais .detalhe1 {
  float: right;
}
@media only screen and (min-width: 650px) and (max-width: 1107px) {
  .diferenciais .detalhe1 {
    float: none;
    width: 260px;
    height: auto;
    margin: 35px 0 0;
  }
}
@media only screen and (max-width: 649px) {
  .diferenciais .detalhe1 {
    float: none;
    width: 60%;
    height: auto;
    margin: 30px 0 0;
  }
}
.diferenciais .diferenciais-detalhes {
  list-style-type: none;
  padding: 30px 0;
  clear: both;
}
.diferenciais .diferenciais-detalhes li {
  display: inline-block;
  text-align: center;
  margin-left: -25px;
}
.diferenciais .diferenciais-detalhes li a {
  display: block;
  text-decoration: none;
}
.diferenciais .diferenciais-detalhes li a span {
  display: block;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
}
@media only screen and (min-width: 650px) and (max-width: 1107px), only screen and (max-width: 649px) {
  .diferenciais .diferenciais-detalhes li a span {
    font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
    font-size: 19px;
    font-weight: 400;
  }
}
@media only screen and (min-width: 650px) and (max-width: 1107px) {
  .diferenciais .diferenciais-detalhes li {
    width: 45%;
    margin: 0 0 40px 0;
  }
  .diferenciais .diferenciais-detalhes li a img {
    width: 70%;
    height: auto;
    min-width: 270px;
  }
}
@media only screen and (max-width: 649px) {
  .diferenciais .diferenciais-detalhes li {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .diferenciais .diferenciais-detalhes li a img {
    width: 100%;
    height: auto;
    max-width: 300px;
  }
}
.diferenciais .fundo {
  width: 100%;
  height: 140px;
  position: absolute;
  bottom: 0;
  background: url('../img/diferenciais-fundo.png') center repeat-x;
  z-index: 30;
  text-align: center;
}
.diferenciais .fundo img {
  margin-top: 35px;
}
.onde-encontrar {
  width: 100%;
  text-align: center;
  background: #a2cf6d;
  padding: 50px 0;
}
.onde-encontrar a {
  display: inline-block;
  background: #007cc3;
  padding: 30px 40px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border-bottom: 6px solid #005c90;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.onde-encontrar a:hover {
  background: #0072b4;
  border-width: 2px;
  margin-top: 4px;
}
@media only screen and (max-width: 649px) {
  .onde-encontrar {
    padding: 8% 0;
  }
  .onde-encontrar a {
    font-size: 22px;
    width: 85%;
  }
}
@media only screen and (min-width: 650px) and (max-width: 1107px) {
  .onde-encontrar {
    padding: 6% 0;
  }
  .onde-encontrar a {
    font-size: 24px;
    width: 65%;
  }
}
.outros-produtos {
  padding: 50px 0;
}
@media only screen and (min-width: 650px) and (max-width: 1107px) {
  .outros-produtos {
    padding: 35px 0;
  }
}
@media only screen and (max-width: 649px) {
  .outros-produtos {
    padding: 25px 0 ;
  }
}
.outros-produtos h3 {
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #a0a09b;
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 649px) {
  .outros-produtos h3 {
    font-size: 22px;
  }
}
.outros-produtos .cycle-slideshow {
  margin-top: 40px;
}
@media only screen and (min-width: 650px) and (max-width: 1107px) {
  .outros-produtos .cycle-slideshow {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 649px) {
  .outros-produtos .cycle-slideshow {
    margin-top: 20px;
  }
}
.outros-produtos .cycle-slideshow a {
  margin: 0 20px;
}
.outros-produtos .cycle-slideshow a img {
  height: 100%;
  width: auto;
}
@media only screen and (min-width: 650px) and (max-width: 1107px) {
  .outros-produtos .cycle-slideshow a {
    height: 130px;
    width: auto;
  }
}
@media only screen and (max-width: 649px) {
  .outros-produtos .cycle-slideshow a {
    height: 100px;
    width: auto;
  }
}
.fancybox-close {
  width: 21px !important;
  height: 23px !important;
  right: 0 !important;
  top: -30px !important;
  background: url('../img/lightbox-fechar.png') no-repeat center !important;
  text-decoration: none !important;
}
.fancybox-close:before {
  content: 'Voltar';
  display: block;
  position: absolute;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #418ba5;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .3s ease;
          transition: color .3s ease;
  right: 29px;
  top: 1px;
}
.fancybox-close:hover:before {
  color: #074f68;
}
.fancybox-skin {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35) !important;
}
.fancybox-title {
  text-align: center;
  margin-top: 15px !important;
}
.fancybox-title a {
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #418ba5;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .3s ease;
          transition: color .3s ease;
}
.fancybox-title a:hover {
  color: #074f68;
}
.fancybox-overlay {
  background: url('../img/lightbox-pattern.png') repeat #7dd0ef !important;
}
@media only screen and (min-width: 650px) and (max-width: 1107px) {
  .fancybox-overlay {
    background-size: 200px !important;
  }
}
@media only screen and (max-width: 649px) {
  .fancybox-overlay {
    background-size: 140px !important;
  }
}
footer {
  background: #007cc3;
  padding-top: 40px;
}
footer .colecao {
  float: left;
  width: 470px;
  text-decoration: none;
  color: #1a5da6;
  -webkit-transition: color .3s ease;
          transition: color .3s ease;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-size: 32px;
  font-weight: bold;
}
footer .colecao:hover {
  color: #a2cf6d;
}
footer .colecao p {
  padding: 0;
  margin: 0 0 15px;
}
@media only screen and (min-width: 650px) and (max-width: 1107px), only screen and (max-width: 649px) {
  footer .colecao {
    width: 100%;
  }
}
@media only screen and (max-width: 649px) {
  footer .colecao {
    font-size: 24px;
  }
  footer .colecao br {
    display: none;
  }
  footer .colecao img {
    max-width: 470px;
    width: 100%;
    height: auto;
  }
}
footer .facebook {
  background: #fff;
  float: right;
  width: 405px;
  height: 265px;
  border: 1px solid #024974;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
}
@media only screen and (min-width: 650px) and (max-width: 1107px), only screen and (max-width: 649px) {
  footer .facebook {
    width: 60%;
    float: none;
    clear: both;
    margin: 0 auto 40px;
  }
  footer .facebook .fb_iframe_widget,
  footer .facebook .fb_iframe_widget span,
  footer .facebook .fb_iframe_widget span iframe[style] {
    width: 99.5% !important;
  }
}
@media only screen and (max-width: 649px) {
  footer .facebook {
    width: 80%;
  }
}
footer .copyright-rovio {
  clear: both;
  margin-bottom: 50px;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  color: #0e3d68;
}
footer .copyright-rovio img {
  padding-left: 12px;
}
@media only screen and (min-width: 650px) and (max-width: 1107px), only screen and (max-width: 649px) {
  footer .copyright-rovio img {
    display: block;
    margin: 15px auto 0;
  }
}
footer .copyright-jandaia {
  position: relative;
  border-top: 4px solid #a2cf6d;
  background: #fff;
  font-family: 'Roboto Condensed', 'Helvetica', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  color: #787878;
}
footer .copyright-jandaia:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
  top: -8px;
}
